@model CarsStore.UI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<div class="row">
    <div class="col-12">
        <h2>Change Password</h2>
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-4">
                @using (Html.BeginForm("ChangePassword", "Account"))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)

                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                  
                    <label>Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmedPassword, new { @class = "form-control" })

                    <button type="submit" class="btn btn-primary">Save</button>
                }
            </div>
        </div>
    </div>
</div>

